services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
  spa:
    build:
      context: ./spa
      dockerfile: Dockerfile
    container_name: spa-app
    ports:
      - "3000:3000"

